.header {
  color: black;
  background-color: #5dd4f4;
  position: static;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  min-height: 64px;
}

.title {
  font-size: 30px;
  margin: 0;
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 2px #333;
  text-decoration: none;
}

.title strong {
  font-weight: 900;
}
