.root {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  border: 10px solid #386aad;
  border-left: 10px solid #eeeeee;
  border-right: 10px solid #eeeeee;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.title {
  font-family: Pokemon;
  color: #386aad;
  font-size: 30pt;
  margin-bottom: 0;
  text-align: center;
}

.img {
  width: 100%;
  height: auto;
  max-width: 100%;
  transform: rotate(0deg);
  transition: 0.8s ease-in-out;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.types {
  display: inline-flex;
}

.type {
  text-align: center;
  padding: 4px 10px;
  box-sizing: border-box;
  color: white;
  border-radius: 2px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.list {
  padding-left: 0px;
  max-height: 350px;
  overflow-y: scroll;
  list-style-type: none;
}

.list li {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.list li:first-child {
  border-top: 1px solid #ccc;
}
