* {
  color: #424242;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  margin-top: 64px;
  height: calc(100% - 64px);
  max-height: 100%;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  font-size: 25pt;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

header .title {
  margin-left: 16px;
}

header h1 {
  font-size: 25pt;
  margin: 0;
  line-height: 28px;
}

header h6 {
  margin-left: 16px;
  font-size: 12pt;
  margin: 0;
  line-height: 20px;
}

header a {
  padding: 16px;
  color: #424242;
  transition: 0.2s all;
}

header a:hover {
  opacity: 0.8;
}

img {
  height: 300px;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 50px;
}

h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul * {
  color: white !important;
  font-size: 20pt;
  text-align: center;
}

.block {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;
  transition: 0.5s all;
  flex-direction: column;
  text-decoration: none;
}

.block:hover {
  box-shadow: inset 0 0 60px black;
}

.react {
  background-color: #5dd4f4;
}

.svelte {
  background-color: #ff3d00;
}

.vue {
  background-color: #41b883;
}

@media screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }

  .block {
    width: 100%;
    height: 50%;
    flex-direction: row;
    padding: 16px;
  }

  img {
    width: 150px;
    height: auto;
    margin-bottom: 0;
    margin-right: 20px;
  }

  ul * {
    font-size: 13pt;
    text-align: left;
  }

  header h6 {
    display: none;
  }
}
